*{box-sizing: border-box;}

 body{
	 opacity: 1;
 background-image: url("background.jpg");
 background-repeat: no-repeat;
  background-attachment: fixed;
 background-position: center;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}


#buttons-parent{
	margin:auto;
	width: auto;
	display:flex;
	justify-content:center;
}
.btns{background-color: #FF7F50;
  border: none;
  color: white;
  width: 40%;
  padding: 16px 32px;
  text-align: center;
  font-size: 20px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
}
#add_products_btn:hover {opacity: 1}
#changes_btn:hover {opacity: 1}


#products_container{
	display:none;
	background-color: rgba(255, 255, 255,0.7);
	border: none;
	color: white;
	width: 80%;
	padding: 16px 32px;
	align: center;
	text-align: center;
	font-size: 20px;
	margin: auto;
}


#products_container .products{
	background-color: white;
	width:100%;

}
#addproduct{
	background-color: white;
	width:100%;
	display:none;

}


img {
	width:150px;
}

#prod-img{
	width:150px;
}

table {
	margin-bottom: 5px;
	width: 100%;
}

td {
	width:auto;
	border-style:none solid none none;
	border-color: #CCCCCC;
	border-width: 1px;
	
}



.modal{

display:none;
width:80%;
height:80%;
overflow:auto;
background-color:#ddd;
padding-top: 20px;
background-color:#DCDCDC;
margin:auto;
}
.modal-content{
	background: #B7D8F1;
	padding:1%;
	border:1px solid black;
	width: 50%;
	margin:auto;
}
input[type=text]:focus{
	background-color:white;
	outline:none;
	
}
.textarea{
width:100%;
}

#products_container{
	display: none;
}