
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333; 
  padding:15px;
background-color:#ddd;
border:1px solid black;

	
}

.subnav-content a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  
}
.subnavbtn {
	font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #ddd;
  font-family: inherit;
  margin:10%;
 
}
.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: #ddd;
  font-family: #ddd;
  margin-bottom: 80px;;
  text-decoration: none;
}

.subnav-content a:hover, .subnav:hover .subnavbtn {
  background-color: #ddd;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #ddd;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
