body{
	margin: 0px;
}
b{
	padding-right:300px;
}
u{
font-size:30px;
margin-left:10px;
}
p{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.fa-caret-down:before {
	content:none;
}


#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}


#order_id{
	padding-left:400px;
}

#product_image{
	padding-left:700px;
}

.product_name{

	padding-right:60px;
	
	/*padding:0px 0px 0px 0px;*/
}
b.product_name{
max-width: 100px;	
vertical-align:75px;
}
.img{
	height:150px;
	width:150px;
}

.border{
	border: 1px solid black;
	padding: 4px 4px 4px 4px;
	margin:8px 8px 8px 8px;
}

.order_container{
	display:none;
}
.purchase_price{
padding-left:70px;
padding-right:70px;
vertical-align:75px;
}
.quantity{
padding-left:70px;
padding-right:70px;
vertical-align:75px;
}
