b{
	padding-right:300px;
}
.fa-caret-down:before {
	content:none;
}

#page-container {
	position: relative;
	min-height: 100vh;
}

#content-wrap {
	padding-bottom: 2.5rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}


#order_id{
	padding-left:400px;
}

#product_image{
	padding-left:700px;
}

.product_name{

	padding-right:60px;
	/*padding:0px 0px 0px 0px;*/
}
b.product_name{
max-width: 100px;	
}
.img{
	height:150px;
	width:150px;
}

.border{
	border: 1px solid black;
}

.order_container{
	display:none;
}
.purchase_price{
padding-left:70px;
padding-right:70px;
}
.quantity{
padding-left:70px;
padding-right:70px;
}
