body{
	margin: 0px;
}
article{
	width: 80%;
	margin: auto;
	margin-top:10px;
}

#failure_message{
	background-color:#ff7777;
	padding: 10px;
	border-radius: 10px;
	max-width: 1200px;
	line-height: 25px;
}

#success_message {
	background-color:#99ff99;
	padding: 10px;
	border-radius: 10px;
	max-width: 1200px;
	line-height: 25px;
}


#img_container{
	display: inline-block;
	margin: 20px;
}


img { 
	width: 500px;
	border:1px solid #cccccc;
}

#details_container {
	display: inline-block;
	width: 400px;
	vertical-align: top;
}

#name_container{
	display: inline-block;
	
}


#price_container {
	
}
#increment_btn{
background-color:#75b6dc;

}
#decrement_btn{
background-color:#75b6dc;

}
#buttons_container input, button{
	font-size: 20px;
	margin-top: 10px;
	border-radius: 5px;
	border:0.5px solid gray;
	padding:8px;
	}

#buttons_container button{
	font-size: 20px;
	display: block;
}

#buttons_container #quantity{
	width: 50px;
}

/* turn off number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


#description_container{
	display: block;
	width: 800px;
	margin-top: 50px;
}