body{
	margin: 0px;
}

.link1{
	position:center;
	font-size:15px;
}

#failure_message{
	background-color:#ff7777;
	padding: 10px;
	border-radius: 10px;
	max-width: 1200px;
	line-height: 25px;
}

#success_message {
	background-color:#99ff99;
	padding: 10px;
	border-radius: 10px;
	width: 95%;
	line-height: 25px;
}

th {
	font-size: 20px;
	text-align: left;
}

.prod_imgs{
	height:150px;
	width:150px;
	position:center;
}

#button{
	font-style:italic;
	font-family:Times New Roman;
	font-size:20px;
}

#buttons_container input{
	font-size: 20px;
}

/* quantity*/

#buttons_container input, button{
	font-size: 20px;
	margin-top: 10px;
}

.quantity{
	width: 30px;
}

/* turn off number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* end of quantity styling */

.image_row {
	width: 250px;
}

.name_row {
	max-width: 400px;
	min-width: 200px;
}

#floating_total{
	position: fixed;
	bottom:0px;
	background-color: white;
	width: 100%;
	border-top-style: solid;
	border-top-color: rgb(0,0,0);
	border-top-width: 1px;
}

#floating_total * {
	display: inline-block;
	text-align: left;
	float: right;
	margin: 10px;
}

#floating_total p {
	margin-top: 30px;
}

#floating_total button {
	margin-top: 25px;
}

#save_changes_btn{
	display: none;
}

#bottom_space{
	height: 80px;
	width:100%;
}
